{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}
      {% include author-profile.html %}
    {% endif %}
    {% if page.sidebar %}
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src=
          {% if s.image contains "://" %}
            "{{ s.image }}"
          {% else %}
            "{{ s.image | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% endfor %}
      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}
    {% endif %}

    <!-- Light/Dark Mode Toggle -->
    <div id="theme-toggle" style="cursor: pointer; display: flex; align-items: center; gap: 10px; padding: 10px; margin-top: 20px;">
      <img id="light-icon" src="https://img.icons8.com/ios/50/sun--v1.png" alt="Light Mode" style="display: none; width: 30px; height: 30px;">
      <img id="dark-icon" src="https://img.icons8.com/ios/50/do-not-disturb-2.png" alt="Dark Mode" style="width: 30px; height: 30px;">
      <span id="theme-label" style="font-size: 14px;">Switch Theme</span>
    </div>
  </div>
{% endif %}
